.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #3f51b5;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}