.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
}
.pageContainerLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 15px;
}

.appointmentList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  margin-bottom: 80px;
}

.pageContainerRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 15px;
}

.availabilityList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 650px;
  overflow-y: scroll;
}

.availabilitySection {
  padding-top: 10px;
  max-height: 600px;
}
