.pageContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createAppointmentSection {
  display: flex;
  padding-right: 20px;
  height: 100%;
  width: 70%;
}

.createAppointmentSectionLeft {
  width: 50%;
}

.createAppointmentSectionRight {
  width: 50%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointmentSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.appointmentList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileDetails {
  margin-left: 20px;
}

.profileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.caregiverImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.caregiverCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caregiverSelection {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.selectCaregiverContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.caregiverImage:hover {
  width: 75px;
  height: 75px;
}
.caregiverCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.dateSelectionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
