.page {
  color-scheme: dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  padding-top: 30px;
  width: 100vw;
  max-height: 95vh;
}

.pageContent {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}
