.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 65%;
    justify-content: center;
}
.caregiverImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}
.caregiverCard {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caregiverSelection {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.selectCaregiverContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.caregiverImage:hover {
    width: 110px;
    height: 110px;
}
.caregiverCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.dateSelectionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}