.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.pageContainerLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 15px;
}

.pageContainerRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 15px;
}
